@charset "utf-8";
.blue{
   display: flex;/*横並び */
   justify-content: space-between;/*等間隔に並べる*/
   max-width: 960px;
   gap: 20px;
   
}

.box{
    background: blue;
    width: 300px;
    height: 300px;
    
}

.red{
    display: flex;/*横並び */
    flex-wrap: wrap;/*折り返し */
    justify-content: space-between;/*等間隔に並べる*/
    row-gap: 20px;
    max-width: 960px;
}

.item{
    background: red;
    width: 300px;
    height: 300px;
    
}

.header{
    align-items:center;
    display: flex;/*横並び */
    justify-content:space-around;/*均等に間隔をあけて配置*/ 
    max-width: 960px; 
}
nav ul{
    display: flex;/*横並び */
    
}
nav li+li{
    border-left: 1px solid;
}
nav a{
    color: #2e2c2c;
    padding: 10px;
}
    
@media screen and (max-width:767px){
    nav{
        flex-direction: column;/*子要素を上から下に配置*/
        text-align:left /*左寄せ*/
    }
    nav ul{
        flex-direction: column;/*子要素を上から下に配置*/
        justify-content:space-around;/*均等に間隔をあけて配置*/
    }
    nav li{
        border-bottom: 1px solid;
        margin: 0;  
        padding: 10px;
    }
    nav li+li{
        border-left: none;
    }
}
    